
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 33 6% 38%;
    --card: 0 0% 100%;
    --card-foreground: 33 6% 38%;
    --popover: 0 0% 100%;
    --popover-foreground: 33 6% 38%;
    --primary: 147 48% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 25 95% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 33 6% 58%;
    --accent: 262 78% 28%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 147 48% 36%;
    --chart-1: 147 48% 36%;
    --chart-2: 25 95% 40%;
    --chart-3: 262 78% 28%;
    --chart-4: 280 70% 60%;
    --chart-5: 350 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 33 6% 10%;
    --foreground: 0 0% 98%;
    --card: 33 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 33 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 147 48% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 25 95% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 33 6% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 262 78% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 6% 17%;
    --input: 33 6% 17%;
    --ring: 147 48% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
  }
}
